/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/typography";

$font-color: #444;
$link-color: #479;

body {
    line-height: 1.7;
    background: #fff;
    font-size: 1.1em;
    color: $font-color;
    font-family:  Georgia, Times, serif
}

a {
    @include link-colors($link-color);
    @include hover-link;
    &.keyword {
        @include link-colors($font-color);
    }
}

#blog-title {
    position: absolute;
    top: 0px;
    left: 170px;
    font-size: 12px;
    line-height: 40px;
    z-index: 999999;
    font-family: Helvetica, Arial, sans-serif;
    * {
        display: inline;
    }
}


#main {
    margin: 0 0 2em 0;
    h1.entry-title {
        font-size: 2.2em;
        margin: 1em;
        text-align: center;
        a {
            @include unstyled-link;
            @include hover-link;
        }
    }

    .date {
        display: none;
    }

    .entry {
        border-bottom: solid 1px #ddd;
        padding-top: 3em;
        padding-bottom: 3em;
        .entry-inner {
            margin: auto;
            position: relative;
            .entry-header-menu {
                position: absolute;
                right: 0;
                top: 0;
                font-size: 12px;
            }
            .entry-content {
                max-width: 660px;
                margin: auto;
                @include clearfix;
            }
            .entry-footer {
                max-width: 660px;
                margin: 1em auto;
                .entry-footer-section {
                    float: right;
                    font-size: 80%;
                    color: #666;
                }
            }
        }
        h2, h3 {
            font-size: 130%;
        }
        h2, h3, h4 {
            font-weight: bold;
            margin: 1em 0;
        }
        ul, li {
            list-style: square;
            margin-left: 1em;
        }
        ul {
            margin: 1em 0 1em 1em;
            ul {
                margin: 0 0 0 1em;;
            }
        }
    }

    p {
        margin-bottom: 1em;
        text-indent: 1em;
        img {
            display: block;
            margin: auto;
        }
    }

    dt {
        font-weight: bold;
    }
    dd {
        margin: 0 0 1em 1em;
    }
    
    .pager {
        padding: 1em;
        text-align: center;
    }

}

#content {
    width: 80%;
    max-width: 960px;
    margin: auto;
    aside .hatena-module {
        padding: 0 1em 2em 0;
        font-size: 80%;
        vertical-align: top;
        max-width: 660px;
        margin: auto;
    }
    aside .hatena-module-archive li {
        display: inline;
        padding-right: 1em;
    }
}

#footer {
    text-align: center;
    margin: 1em;
    * {
        display: inline;
        font-size: 12px;
    }
}
