@import url(http://fonts.googleapis.com/css?family=Croissant+One);
@import "compass/reset";
@import "compass/typography";

$font-color: #444;
$link-color: #479;
$content-width: 612px;

body {
    line-height: 1.7;
    background: #fff;
    font-size: 1.1em;
    color: $font-color;
    font-family:  Georgia, Times, serif
}

a {
    @include link-colors($link-color);
    @include hover-link;
    &.keyword {
        @include link-colors($font-color);
    }
}

#blog-title {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 10px;
    line-height: 14px;
    z-index: 999999;
    padding: 8px 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-family: 'Croissant One', cursive;
    background: #fff url(http://cdn1.www.st-hatena.com/users/na/nagayama/profile.gif) no-repeat 5px center;
    background-size: 32px;
    padding-left: 43px;
}


#main {
    margin: 0 0 2em 0;
    h1 {
        &.entry-title {
            font-size: 2.2em;
            margin: 1em;
            text-align: center;
            a {
                @include unstyled-link;
                @include hover-link;
            }
        }
        &.no-title {
            display: none;
        }
    }

    .date {
        display: none;
    }

    .entry {
        border-bottom: solid 1px #ddd;
        padding-top: 3em;
        padding-bottom: 3em;
        .entry-inner {
            margin: auto;
            position: relative;
            .entry-header-menu {
                position: absolute;
                right: 0;
                top: 0;
                font-size: 12px;
            }
            .entry-content {
                max-width: $content-width;
                margin: auto;
                @include clearfix;
            }
            .entry-footer {
                max-width: $content-width;
                margin: 1em auto;
                .entry-footer-section {
                    float: right;
                    font-size: 80%;
                    color: #666;
                }
            }
        }
        h2, h3 {
            font-size: 130%;
        }
        h2, h3, h4 {
            font-weight: bold;
            margin: 1em 0;
        }
        ul, li {
            list-style: square;
            margin-left: 1em;
        }
        ul {
            margin: 1em 0 1em 1em;
            ul {
                margin: 0 0 0 1em;;
            }
        }
        blockquote {
            border-top: 3px double #ddd;
            border-bottom: 3px double #ddd;
            font-style: italic;
            margin: 1em;
            padding: 1em;
            text-align: center;
            p {
                margin: 0;
            }
        }
        img {
            vertical-align: middle;
        }
    }

    p {
        margin-bottom: 1em;
        text-indent: 1em;
        img {
            display: block;
            margin: auto;
        }
    }

    dt {
        font-weight: bold;
    }
    dd {
        margin: 0 0 1em 1em;
    }
    
    .pager {
        padding: 1em;
        text-align: center;
        .pager-next, .pager-prev {
            padding: 0 1em;
        }
    }

}

#content {
    width: 80%;
    max-width: 960px;
    margin: auto;
    aside .hatena-module {
        padding: 0 1em 2em 0;
        font-size: 80%;
        vertical-align: top;
        max-width: $content-width;
        margin: auto;
    }
    aside .hatena-module-archive li {
        display: inline;
        padding-right: 1em;
    }
}

#footer {
    text-align: center;
    margin: 1em;
    * {
        display: inline;
        font-size: 12px;
    }
    img {
        vertical-align: middle;
    }
    address:after {
        content: " / ";
    }
}
